* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    margin-bottom: 20px;
    margin-top: 3rem;
    color: #2c3e50;
}

html {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    display: flexbox;
    color: #333;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    padding: 0;
    width: 100%;
}

form {
    margin-top: 3rem;
    background: #fff;
    padding: 30px;  
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin: 0;
    margin-left: 28%;
}


label{
    display: block;
    margin-bottom: 10px;
}

input{
    
    width: 50%;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
}

button{
    display: block;
    border: none;
    height: 30px;
    width: auto;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: auto;
    padding: 5px;
}

button:hover {
    background: #9cef75;
    transform: scale(1.05);
    transition: 0.2s;
}

button:active {
    transform: scale(0.95);
    transition: 0.2s;
}

p{
    margin: 15px 0px;
    font-weight: bold;

}
